    @import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&family=Open+Sans:wght@600&family=Work+Sans:wght@700;800&display=swap');

*{
    
   box-sizing: border-box;
}
body{
    font-size: 16px;
}
/* this is nav part */
.nav-container{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    align-items: center;
}
.g-color{
  color: #FF42A5 ;
}
.nav-description ul{
    display: flex;
    justify-content: space-between;
    
    
}
.icon{
    width: 50px;
    height: 50px;
    align-items: center;
}
.nav-description ul li{
    list-style: none;
    margin: 5px;
}
input{
    width: 150px;
    height: 20px;
    border-radius: 5px;
}
.img-part{
    width: 30px;
    position: relative;
   
}
.img-part-text ul{
    margin-left: 50px;
    gap: 30px;
}
.img-part-text{

    position: relative;
}
/* this is banner part */

.play-color{
   color: #8758F1 ;

}
.banner-title h2{
    margin-left: 40px;
    font-size: 3rem;
}
.banner-description{
    margin-left:40px ;
}
.btn-primary{
    border-radius: 5px;
    margin-left: 50px;
    padding-left: 20px;
}
.btn-primary .btn1{
    border-radius: 8px;
    color: white;
    background: #FF42A5;
    padding: 15px ;
    border-radius: 48px;
    gap: 10px;
}
.btn-primary .btn2{
    padding: 15px ;
    gap: 10px;
    border-radius: 8px;
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
}
.btn-primary .btn1 .btn2{
    gap: 20px;
}
.img-container img{
    width: 500px;
    height: 400px;
    margin-right: 50px;
}
 .banner{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background: #FFF; 
 }

 /* <!-- online games funny video part --> */
.online-title{
    text-align: center;
}
.funny-video{
    color: #8758F1;
}
.online-description{
    text-align: center;
}
.online-img-container{
    display: flex;
   margin-left: 100px;
   margin-right: 30px;
}
.online-img-container img{
    width: 300px;
    height:150 ;  
    margin-left: 10px;
}
.online-img-container p{
    font-size: 12px;
}
/* this is our third section */

.heading-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.play-img-container img{
    width: 500px;
    height: 400px;
    margin-right: 20px;
    
    
}
.heading-title{
    width: 50%;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    /* margin-left: 150px; */
    
   
    }
    .png-img{
        width: 40px;
        height: 30px;
    }
.play-img-container .png-img{
    width: 50%;
    height: 50%;
    position: relative;
    bottom: 100px;
    font-size: 4rem;
}
.heading-description{
    width: 50%;
    text-align: center;
    margin-left: 50px;
}
.no{
    color: #FF42A5;
}

/* footer section */
.footer-container-all-items{
    background: #0B0223;
   color: white;
}

.footer-items-container{
    display: flex;
    justify-content: space-between;
}
.footer-container{
    display: flex;
    width: 50%;
}
.footer-container img{
    width: 70px;
    height: 30px;
    align-items: center;
    margin-left: 500px;
    display: flex;
}
.footer-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
}
.footer-color{
    color: #FF42A5;
}

.nav-games-container {
    display: flex;
    justify-content: space-around;
}
.nav-games-container ul{
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
}
.nav-games-container ul li{
    list-style: none;
}
.img-icon-container img{
    width: 50px;
    height: 50px;
    text-align: center;
   
}
img{
    margin-left:300px;
}
.terms-container ul{
    display: flex;
    /* justify-content: space-evenly; */
    margin-left: 100px;
    margin-right: 100px;
}
.description{
    text-align: center;
}
.terms-container ul li{
    list-style: none;
    gap: 20px;
}

/* This is image description part */
.image-description-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.content{
    display: flex;
    margin-bottom: 30px;
    border-radius: 10px;

}
.content img{
    width:50px ;
}
.content p{
    width: 30px;
}